.container{
    display: flex;
    background-color: rgb(244, 232, 201);
    min-height: 100vh;
    width: 100%;
}

.navigator_bar {
    width: 20%;
    background-color: rgb(245, 200, 76);
    padding: 10px;
    position: fixed;
    height: 100%;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.navigator_box{
    top: 60%;
    padding: 10px;
    border: 2px solid rgb(187, 190, 4);
    line-height: 30px;
}

.myself_picture{
    display: block;
    margin: 10px auto;
}

.sidebar_introduction {
  font-family: 'Inter', system-ui, sans-serif;
  color: rgb(26, 35, 126); 
  font-size: 21px;
  text-align: center;
  font-weight:700 ;
}

.techstack {
  font-family: 'Inter', system-ui, sans-serif;
  color:rgb(62, 39, 35); 
  font-size: 24px;
  font-weight: 500;
}


.navigator_sign{
    font-size: 40px;
    text-align: center;
}

.selected{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.unselected{
    font-family: Arial, Helvetica, sans-serif;
    font-weight :400;
    font-size: 30px;
}

.main {
    margin-left: 25%; 
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    display: block;
}

.presentinglist {
    display: block;
    background-color: rgb(245, 238, 113);
    line-height: 30px;
    border: 2px solid rgb(187, 190, 4);
}

li{
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

.title{
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 700;
    color: #2d3436;
}

.evaluation{
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

.center{
    text-align: center;
}

.presenting{
    display: flex;
    background-color: rgb(245, 238, 113);
    line-height: 30px;
    border: 2px solid rgb(187, 190, 4);
    margin: 20px;
}

.about_page_content{
    padding: 20px;
    display: flex;
}

.about_page_img {
  height: 200px;      
  padding: 20px;
  aspect-ratio: 1/1; 
}